version: 2
jobs:
  test:
    docker:
     # Build by Thanos make docker-ci
      - image: quay.io/thanos/thanos-ci:v0.1.0
    working_directory: /go/src/github.com/thanos-io/thanosbench
    environment:
      GO111MODULE: 'on'
      # Run garbage collection more aggresively to avoid getting OOMed during the lint phase (4GB limit).
      GOGC: "20"
      # By default Go uses GOMAXPROCS but a Circle CI executor has many
      # cores (> 30) while the CPU and RAM resources are throttled. If we
      # don't limit this to the number of allocated cores, the job is
      # likely to get OOMed and killed.
      GOOPTS: "-p 2"
    steps:
      - checkout
      - setup_remote_docker:
            version: 17.07.0-ce
      - run: make deps
      - run: make build
      - run: make lint
      - run: make format
      - run: make test

workflows:
  version: 2
  thanos:
    jobs:
    - test:
        filters:
          tags:
            only: /.*/
