apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: database-write-hashring
    app.kubernetes.io/name: thanos-receive
    controller.receive.thanos.io/hashring: default
  name: thanos-receive-default
  namespace: thanos
spec:
  clusterIP: None
  ports:
  - name: grpc
    port: 10901
    targetPort: 10901
  - name: http
    port: 10902
    targetPort: 10902
  selector:
    app.kubernetes.io/component: database-write-hashring
    app.kubernetes.io/name: thanos-receive
    controller.receive.thanos.io/hashring: default
